<html>

<head>
    <meta charset="UTF-8">
    <title>客户授权</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body>
    <div id="text">这是微信第三方平台测试——客户端接口</div>
    <script>
        let msg_text = document.getElementById('text');
        let query = getQueryString();
        if (query.do != null) {
            msg_text.innerText = "拉取授权页面中……"
            callFunction({
                name: 'authGetOne',
                data: {
                    id: query.do
                }
            }).then(res => {
                console.log(res);
                if (res) {
                    if (res.status == 0) {
                        window.localStorage.setItem('open_auth_id', query.do).then(function(){
                            window.location = res.url;
                        });
                    }
                    else {
                        msg_text.innerText = "已授权！"
                    }
                }
                else {
                    msg_text.innerText = "授权路径不存在！"
                }
            });
        }
        else if (query.auth_code != null) {
            msg_text.innerText = "校验中……"
            let temp_id = window.localStorage.getItem('open_auth_id');
            if (temp_id != null) {
                callFunction({
                    name: 'authUpdateOne',
                    data: {
                        code: query.auth_code,
                        id: temp_id
                    }
                }).then(res => {
                    console.log(res);
                    if (res != null) {
                        window.localStorage.removeItem('open_auth_id');
                        console.log(res);
                        msg_text.innerText = "校验成功！";
                    }
                    else {
                        msg_text.innerText = "校验失败，请刷新此页面重试！"
                    }
                });
            }
            else {
                msg_text.innerText = "路径已经刷新，请联系平台！"
            }
        }

        function getQueryString() {
            var qs = location.search.substr(1),
                args = {},
                items = qs.length ? qs.split("&") : [],
                item = null,
                len = items.length;
            for (var i = 0; i < len; i++) {
                item = items[i].split("=");
                var name = decodeURIComponent(item[0]),
                    value = decodeURIComponent(item[1]);
                if (name) {
                    args[name] = value;
                }
            }
            return args;
        }
        function callFunction(obj) {
            return new Promise((resolve, reject) => {
                let xml = new XMLHttpRequest();
                xml.open("POST", "webcall", true)
                xml.setRequestHeader("Content-type", "application/json");
                xml.send(JSON.stringify({
                    name: obj.name,
                    data: obj.data == null ? {} : obj.data
                }));
                xml.responseType = 'text';
                xml.onreadystatechange = function () {
                    if (xml.readyState === 4 && xml.status === 200) {
                        let e = JSON.parse(xml.responseText);
                        resolve(e);
                    }
                }
            });
        }
    </script>
</body>

</html>